<header>
  <ul>
    <li><a href="#">DICThemaLesson</a></li>
    <li><a href="#">トップページ</a></li>
    <li><a href="#">お問い合わせ</a></li>
    <li><a href="#">ブログ</a></li>
  </ul>
</header>
<section class="main-header">
   <img src="<%= asset_path "achieve.png" %>">
</section>

<section class="about">
  <h1>About DICThemaLesson</h1>
  <p>
     DICThemaLesson、受講生のために作成された、教材用アプリです。<br>
     DICThemaLessonを作り終えることで、SecondTeamに参加するための力を身につけることができます。
  </p>

</section>
<section class="function container-fluid">
  <div class="row">
  <h1>Function</h1>
    <div class="function-images">
      <div class="col-md-3 col-sm-6">
        <div class="function-image">
          <img src="<%= asset_path "key.png" %>">
          <p>ログイン機能</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="function-image">
          <img src="<%= asset_path "mails.png" %>">
          <p>メール送信機能</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="function-image">
          <img src="<%= asset_path "girls.png" %>">
          <p>友達つながり機能</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="function-image">
          <img src="<%= asset_path "comment.png" %>">
          <p>コメント投稿機能</p>
        </div>
      </div>
    </div>
  </div>
</section>
<footer>
  <p>運営会社DIVE INTO CODE株式会社</p>
  <p>© 2015-2016 Copyright DIVE INTO CODE Corp.</p>
</footer>